{% extends "base.html" %}

{% block content %}

<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
    </label>

    <label>
        <div>entry</div>
        <textarea name="newpost">{{entry}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
</form>

<hr>
{% for entry in entries %}
    <div class="entry">
        <div class="newpost-title">{{entry.title}}</div>
        <pre class="newpost-body">{{entry.entry}}</pre>
    </div>
{% endfor %}


{% endblock %}
